.nav-item {
  margin: 0;

  .nav-link {
    text-transform: capitalize;
    font-weight: 700;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;

  &:hover {
    color: $white;
  }
  &.current-link {
    color: $white;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;

  @include desktop {
    padding: 10px;
  }
}
.navigation {
  border: 4px;
  background-color: $border-color;
}
.ti-menu {
  color: $primary-color;
}