.nav-item {
  text-align: center;

  .nav-link {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.3em;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;

  &:hover {
    color: $white;
  }
  &.current-link {
    color: $white;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;
  margin-left: 0px;
  margin-right: 0px;

  @include desktop {
    padding: 10px;
  }
}
.navigation {
  border: 4px;
  background-color: $border-color;

}
.ti-menu {
  color: $primary-color;
  font-size: 1.5em;
}

