{{ define "main" }}

<!-- checking project -->
{{ if or (or (eq .Section "post") (eq .Section "projects")) (or (eq .Section "categories") (eq .Section "tags") )}}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="img-fluid w-100 rounded mb-4">
        <h2 class="mb-4">{{ .Title }}</h2>
        By <i class="ti-user" style="font-size: 1.3em; margin-bottom: 10px;"></i>:
        <br>
        {{ range $name := .Params.by }}
        {{ $link := index (split $name " ") 0 | printf "%s/#%s" ("members"|absURL) | printf "%s" }}
        <a href="{{ $link }}" class="badge badge-info" style="font-size: 1.3em; margin-bottom: 10px;">{{ $name }}</a>
        {{ end }}
        <div style="padding-top: 20px; padding-bottom: 40px;">
          Tags<i class="ti-tag" style="font-size: 1.3em;"></i>:
          {{ range (.GetTerms "tags") }}
          <a href="{{ .Permalink }}" class="badge badge-info" style="font-size: 1.3em;">{{ .LinkTitle }}</a>
          {{ end }}
        </div>

        <div class="content">{{.Content}}</div>

        <!-- comments -->
        {{ if site.DisqusShortname }}
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<!-- regular page -->
{{ else }}
{{ partial "page-header.html" . }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>
{{ end }}


{{ end }}