<footer class="bg-dark section pb-0">
  <div class="container">
    <div class="row">
      <!-- {{ range site.Menus.nav }}
      <div class="col-md-1 col-sm-4 mb-1 text-center">
        <h3 class="mb-4">Nav</h3>
      <ul class="list-unstyled footer-list">
        <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
      </ul>
    </div>
    {{ end }} -->
      <div class="col-md-12 col-sm-12 mb-3 text-center">
        <a class="d-block mb-3" href="{{ site.BaseURL }}"><img width="{{site.Params.logo_width}}" class="img-fluid"
            src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"></a>
        <p class="mb-4">{{ site.Params.footer_content | markdownify }}</p>
        <!-- </div>
      <div class="col-md-6 col-sm-12 mb-5"> -->
        <ul class="list-inline social-icons text-center">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
    <hr>
    <div class="d-flex flex-row flex-wrap text-center align-content-start justify-content-center">
      <ul class="list-inline list-unstyled footer-list text-center"></ul>
      <p class="text-center">{{ site.Params.copyright| markdownify}}</p>
      {{ range site.Params.copyrights }}
      <li class="list-inline-item"><small>
          <p><a target="_blank " href="{{ .link | safeURL }}"> {{ .names}} </a></p>
        </small></li>
      {{ end }}
      </ul>
    </div>
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>