<footer class="bg-dark section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-5">
        <h3 class="mb-4">Projects</h3>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.project }}
          <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        <h3 class="mb-4">Nav</h3>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.nav }}
          <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        <h3 class="mb-4">Support</h3>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.support }}
          <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        <a class="d-block mb-3" href="{{ site.BaseURL }}"><img width="{{site.Params.logo_width}}" class="img-fluid"
            src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"></a>
        <p class="mb-4">{{ site.Params.footer_content | markdownify }}</p>

        <ul class="list-inline social-icons">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="border-top border-default text-center row container">
      <ul class="list-inline list-unstyled footer-list text-center"></ul>
          <p class="text-center " style="padding-left:23%;">{{ site.Params.copyright| markdownify}}</p>
            {{ range site.Params.copyrights }}
            <li class="list-inline-item"><small ><p><a target="_blank "href="{{ .link | safeURL }}"> {{ .names}} </a></p></small></li>
          {{ end }}
        
      </ul>
  </div>
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>