{{ define "main" }}

{{ partial "page-header.html" . }}

<section class="section">
    <div class="container">
        <div class="row">
            {{ range .Pages.ByWeight }}
            <div class="col-12 col-md-4 mb-3 pb-5 flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="{{ .Params.image | absURL }}" alt="{{.Name}}" class="profile">
                    </div>
                    <div class="flip-card-back align-items-center">
                        <h2>{{ .Params.name }} </h2>
                        <h4>{{ .Title }} </h4>
                        <div class="social-icons-flip">
                            <a href="{{ .Params.linkedin | safeURL }}"><i class="ti-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}